.gameboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
}

.starshape-row {
  display: flex;
  gap: 20px;
}

.calculator-button {
  background-color: black;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calculator-button:hover {
  background-color: blue;
}

.calculator-button-row {
  display: flex;
  gap: 20px;
}

.answer-board-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
